<% obj.each do |note| %>
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="note-title">
        <%= link_to note.title, note_path(note) %>
      </div>
      <div class="note-body">
        <%= truncate(note.description, length: 100) %>
        <div class="note-meta-details">
          <small>Created by: <%= note.user.username if note.user %>,
            <%= time_ago_in_words(note.created_at) %> ago,
            last updated: <%= time_ago_in_words(note.updated_at) %> ago</small>
        </div>
      </div>
      <%= render partial: 'controls', locals: { note: note } %>
    </div>
  </div>
<% end %>